<a href="https://colab.research.google.com/github/mycheicky/Advance-Numerical-Methods-for-PDE/blob/master/NextGateTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
# 1) Check the variables from the data 
df = pd.read_csv('ngt_software_engineer_test_example_data (clean columns).csv', header=0, sep=',', decimal='.')

In [ ]:
# 2) The checking of the data
print(df.shape[0], ' rows')
print(df.shape[1], ' columns ')
print('\nList of variables: ')
for col in df.columns:
    print(col)

# List of columns having NaN values
print('\nTypes of variables')
print(df.dtypes.value_counts(), '\n')
print('Data has ', df.isna().sum().sum(), ' number of NaN', '\n')
print('NAN per columns')
for col in df:
  if df[col].isna().sum() > 0:
    print(col, ' has ', df[col].isna().sum(), ' NaN')

In [ ]:
# 3) Calculate the correlation of 11 instruments 'Nav_Per_Share'
fund_code = df['Subfund_Code'].unique() # Here I notice that I've 3 subfunds so I's going to creat 3
val = []

# ==> Check all the graphs of each instrument to preview if there are some correlations between some
for sub in fund_code:
  fund = df[df['Subfund_Code'] == sub ]
  clas = fund['Share_Class_Code'].unique()

  print()
  print('Sub Fund: ', sub, ' | Currency of the sub fund: ', fund['Subfund_CCY'].unique())

  for cl in clas:
    data = fund[fund['Share_Class_Code'] == cl]

    # Preparing the correlation data
    val.append(pd.DataFrame({'Date': data['Valuation_Date'], str(sub) + str(cl): data['NAV_Per_Share']}))

    print()
    print('Share class: ', str(cl), ' | NAV Currency: ', data['CCY_NAV_share'].unique())
    
    # Graph of each instrument per sub fund
    plt.figure(figsize=(15, 10))
    plt.plot( data['NAV_Per_Share'], label=str(sub) + str(cl))
    plt.legend()
    plt.show()

In [ ]:
# ==> The computing of the correlation between the 11 instruments
#     The building of the correlation matrix data based on the Valuation_Date and removing the missing data (using inner merge)
instr = val[0]
for i in range(1, len(val)):
  instr = instr.merge(val[i], on='Date')

#    The correlation computing
instr.corr()

          1A        1B        1C  ...        2E        3A        3B
1A  1.000000  0.993017  0.997665  ...  0.959560 -0.815522 -0.815356
1B  0.993017  1.000000  0.995144  ...  0.971292 -0.757360 -0.757213
1C  0.997665  0.995144  1.000000  ...  0.967455 -0.779614 -0.779416
1D  0.997716  0.995176  0.999997  ...  0.967484 -0.779930 -0.779732
2A  0.894131  0.857470  0.871670  ...  0.837385 -0.912778 -0.912718
2B  0.965188  0.977551  0.972747  ...  0.991409 -0.677415 -0.677254
2C  0.954956  0.968342  0.963825  ...  0.999829 -0.654143 -0.654028
2D  0.968039  0.977274  0.974604  ...  0.999388 -0.687824 -0.687693
2E  0.959560  0.971292  0.967455  ...  1.000000 -0.667414 -0.667299
3A -0.815522 -0.757360 -0.779614  ... -0.667414  1.000000  0.999998
3B -0.815356 -0.757213 -0.779416  ... -0.667299  0.999998  1.000000

[11 rows x 11 columns]

In [ ]:
#    Convert the correlation matrix to dict
corr_dict = instr.corr().to_dict()

In [22]:
# 4) Firebase management

# To get acces to my Firebase project
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db

# Fetch the service account key JSON file contents
cred = credentials.Certificate('/content/ngtdevtest-firebase-adminsdk-nk5uo-8711d47d79.json')

# Initialize the app with a custom auth variable, limiting the server's access
firebase_admin.initialize_app(cred, {
    'databaseURL': 'https://ngtdevtest-default-rtdb.firebaseio.com/',
    'databaseAuthVariableOverride': {
        'uid': 'service-account'
    }
}, name="ngtqdtApp")

In [26]:
# As an admin, the app has access to read and write all data, regradless of Security Rules
ref = db.reference('/')
ref.child('thekeyresults').set(corr_dict)

In [27]:
print(ref.get())

{'thekeyresults': {'1A': {'1A': 1.0, '1B': 0.993017338448721, '1C': 0.9976651242220277, '1D': 0.9977164089934377, '2A': 0.8941310336113583, '2B': 0.9651881502812986, '2C': 0.9549558108488158, '2D': 0.9680389194097627, '2E': 0.9595595807288593, '3A': -0.8155216411762898, '3B': -0.8153561195659342}, '1B': {'1A': 0.993017338448721, '1B': 1.0, '1C': 0.9951441906160894, '1D': 0.9951757758696038, '2A': 0.8574700821754557, '2B': 0.9775509855418766, '2C': 0.9683420342676197, '2D': 0.9772737167202332, '2E': 0.9712916727741885, '3A': -0.7573599785026255, '3B': -0.7572133906734726}, '1C': {'1A': 0.9976651242220277, '1B': 0.9951441906160894, '1C': 1.0, '1D': 0.9999969098301892, '2A': 0.8716696352416526, '2B': 0.9727465520711558, '2C': 0.9638247564576181, '2D': 0.9746042784783738, '2E': 0.9674546399189106, '3A': -0.7796140360528588, '3B': -0.7794159712203539}, '1D': {'1A': 0.9977164089934377, '1B': 0.9951757758696038, '1C': 0.9999969098301892, '1D': 1.0, '2A': 0.8719610189914749, '2B': 0.9727678874920617, '2C': 0.9638483229966726, '2D': 0.9746437535051903, '2E': 0.9674838263608322, '3A': -0.7799296711440576, '3B': -0.7797319814933489}, '2A': {'1A': 0.8941310336113583, '1B': 0.8574700821754557, '1C': 0.8716696352416526, '1D': 0.8719610189914749, '2A': 1.0, '2B': 0.8288868562202828, '2C': 0.8284611877024082, '2D': 0.848385918693884, '2E': 0.8373852390701043, '3A': -0.9127779700407317, '3B': -0.9127184780966445}, '2B': {'1A': 0.9651881502812986, '1B': 0.9775509855418766, '1C': 0.9727465520711558, '1D': 0.9727678874920617, '2A': 0.8288868562202828, '2B': 1.0, '2C': 0.9908210929139183, '2D': 0.9923589249622631, '2E': 0.9914089873758803, '3A': -0.6774147247635495, '3B': -0.6772543651430109}, '2C': {'1A': 0.9549558108488158, '1B': 0.9683420342676197, '1C': 0.9638247564576181, '1D': 0.9638483229966726, '2A': 0.8284611877024082, '2B': 0.9908210929139183, '2C': 1.0, '2D': 0.9986746365751502, '2E': 0.9998292754016583, '3A': -0.6541433441090486, '3B': -0.6540282389258868}, '2D': {'1A': 0.9680389194097627, '1B': 0.9772737167202332, '1C': 0.9746042784783738, '1D': 0.9746437535051903, '2A': 0.848385918693884, '2B': 0.9923589249622631, '2C': 0.9986746365751502, '2D': 1.0, '2E': 0.9993884367396624, '3A': -0.6878236250677179, '3B': -0.6876933553026127}, '2E': {'1A': 0.9595595807288593, '1B': 0.9712916727741885, '1C': 0.9674546399189106, '1D': 0.9674838263608322, '2A': 0.8373852390701043, '2B': 0.9914089873758803, '2C': 0.9998292754016583, '2D': 0.9993884367396624, '2E': 1.0, '3A': -0.6674142442191973, '3B': -0.6672990263249391}, '3A': {'1A': -0.8155216411762898, '1B': -0.7573599785026255, '1C': -0.7796140360528588, '1D': -0.7799296711440576, '2A': -0.9127779700407317, '2B': -0.6774147247635495, '2C': -0.6541433441090486, '2D': -0.6878236250677179, '2E': -0.6674142442191973, '3A': 1.0, '3B': 0.9999975928126069}, '3B': {'1A': -0.8153561195659342, '1B': -0.7572133906734726, '1C': -0.7794159712203539, '1D': -0.7797319814933489, '2A': -0.9127184780966445, '2B': -0.6772543651430109, '2C': -0.6540282389258868, '2D': -0.6876933553026127, '2E': -0.6672990263249391, '3A': 0.9999975928126069, '3B': 1.0}}}